{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        
        <ul class="hr">
            {% for el in caro %} 
                <div> <class = "alert alert-warning"> 
                              
                    <li>{{el.name}}</li>
                    <p><b><i>Стоимость:</i></b> {{el.price}}Р</p>
                    <img src='{{el.image}}'
                        alt={{el.slug}}
                        width="200"
                        height="200">
                </div>
            {% endfor %}
        </ul>
              
    </div>
{% endblock %}